<!-- <div>
    <button class="btn btn-primary" type="button" (click)="addItem()">Add</button>
    <form [formGroup]="orderForm">
        <div class="form-row mb-3" formArrayName="items"
            *ngFor="let item of orderForm.get('items').controls; let i = index;">
            <div class="col-md-5 mb-1">
                <label for="Name">Name</label>
                <input type="text" class="form-control" formControlName="name" id="Name" placeholder="Name">
            </div>
            <div class="col-md-5 mb-1">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="newPassword" formControlName="description"
                    placeholder="Description">
            </div>
            <div class="col-md-5 mb-1">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" formControlName="price" placeholder="Price">
            </div>
        </div>
    </form>
</div> -->