<div>
    <form [formGroup]="userForm">
        <div>
            <label for="">First Name</label>
            <input type="text" formControlName="firstName">
            <div *ngIf="userForm.controls.firstName.invalid && (userForm.controls.firstName.touched || userForm.controls.firstName.dirty)">
                <p *ngIf="userForm.controls.firstName.errors?.requried">
                    firstName is requried.
                </p>
            </div>
        </div>
        <div>
            <label for="">Last Name</label>
            <input type="text" formControlName="lastName">
        </div>
    </form>
    <div>
        <button type="button" (click)="onSubmit()">Submit</button>
    </div>
</div>